*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: antiquewhite;
    width: 100%;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 200px;

}

a{
   text-decoration: none;
   font-size: 1.1em;
   font-weight: 500;
}
section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
span{
    display: block;
    color: blue;
    font-size: 3em;
}
h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;

}

.main-btn{
    text-decoration:none ;
    background-color: blue;
    font-size: 1.1em;
    display: inline-block;
    border-radius: 15px;
    padding: 15px 25px;
    color: #fff;
    margin-bottom: 40px;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    section{
        padding: 80px 20px;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
     font-size: 10px
    }
 }